.left-nav{
	width:250px;
	min-height: 600px;
	float: left;
	padding-top:5px;
	outline: 1px solid;
	background-color:#eeeeee;
	position:fixed;
}
.main-panel{
	position:relative;
	margin-top:80px;
}
.router-panel{
	width: 60%;
	overflow: hidden;
}

