<div class="container-flex">
<p>
welcome to coalesced solution...we are technology people who crack IT tidy.
</p>
<div><p>Please leave your contact and we'll get in touch with waht we can offer you.</p>
<div>
	<form name="enquiry">
		<div class="form-group">
			<div><label for="name">Name</label><input type="text" id="name" name="name" required/></div>
			<div><label for="email">Email</label><input type="text" id="email" name="email" required/></div>
			<div><label for="enquiry">Looking for..</label><input type="text" id="enquiry" name="enquiry" required/></div>
			<div><button class="btn-active" id="submit" onSubmit=""> Submit</button></div>
		</div>
	</form>
</div>
</div>
</div>